* {
  margin: 0;
  padding: 0;
}

:root {
  --black: #3366CC;
  --secondary-btn: tranparent;
  --btn-border: 1.5px solid #3366CC;
  --white: #fff;
  --linkBlue: #;
  --centerAlign: center;
}

body {
  font-family: 'Nunito', sans-serif;
}

.home {
  background-image: url(images/home1.jpg);
}

h1, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
}

/* NAVBAR */
nav {
  padding: 30px;
  box-shadow: 0 4px 6px 0 rgb(0 0 0 / 5%);
  background-color: #003399;
}

nav ul li {
  padding-left: 100px;
  list-style-type: none;
  color: var(--black);
  font-size: 14px;
  font-weight: 800;
}

nav form button {
  margin: 0 0 0 10px;
}

.navbar-brand {
  font-size: 1.5rem;
}

/* BOTTONS */
.primaryBtn,
.primaryBtn a {
  background-color: var(--black);
  color: var(--white);
}

.secondaryBtn {
  background-color: transparent;
  border: var(--btn-border);
}

.secondaryBtn:hover {
  background-color: var(--black);
  color: var(--white);
}

/* MAIN-SECTION */
.heading h1 {
  font-family: 'Lobster Two', cursive;
  margin: none;
  padding-left: 20px;
  text-align: center;
}

.name {
  font-family: 'Lobster Two', cursive;
}

.heading .content {
  text-align: center;
  padding: 2% 5% 2% 5%;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: var(--centerAlign);
  line-height: 34px;
  font-weight: 100;
}

.heading1 .content1 {
  text-align: center;
  padding: 15px;
  position: relative;
  left: 5%;
  right: 5%;
}

.img-head {
  max-width: 100%;
  height: auto;
}

/* ACCOUNT PAGE */
tr a:hover {
  color: var(--black);
}

table {
  text-align: var(--centerAlign);
}

.data,
.transferForm {
  cursor: pointer;
  text-align: var(--centerAlign);
}

.img-amount {
  width: 100%;
}

.img-amt-div {
  margin-top: 20px;
}

.breadcrumb-item a {
  color: black;
}

.footer {
  color: var(--black);
}

.footer a {
  color: #fff;
}

@media only screen and (max-width: 300px) {
  .heading .content {
    margin: 40px 10px 30px 10px;
    text-align: var(--centerAlign);
  }

  .heading .content h1 {
    text-align: var(--centerAlign);
  }

  .img-div {
    margin-bottom: 10px;
    background-color: #7952B3;
  }

  .img-head {
    max-width: 100%;
    margin-top: 70px;
    margin-left: 0%;
  }

  /* ACCOUNT PAGE */
  table {
    background-color: white;
    text-align: var(--centerAlign);
  }

  .data,
  .transferForm {
    cursor: pointer;
    text-align: var(--centerAlign);
  }
}

@media only screen and (max-width: 400px) {

  /* .heading .content {
    margin: 40px 0 30px 0;
    text-align: var(--centerAlign);
  }

  .heading .content h1 {
    text-align: var(--centerAlign);
  }  */
  .img-div {
    margin-bottom: 10px;
  }

  .img-head {
    max-width: 100%;
    margin-top: 70px;
    margin-left: 15%;
  }

  /* ACCOUNT PAGE */
  table {
    background-color: white;
    text-align: var(--centerAlign);
  }

  .data,
  .transferForm {
    cursor: pointer;
    text-align: var(--centerAlign);
  }
}

@media only screen and (max-width: 800px) {

  /* .heading .content {
    margin: 40px 0 30px 0;
    text-align: var(--centerAlign);
  }

  .heading .content h1 {
    text-align: var(--centerAlign);
  } */
  .img-div {
    margin-bottom: 10px;
  }

  .img-head {
    max-width: 100%;
    margin-top: 70px;
    margin-left: 15%;
  }

  /* ACCOUNT PAGE */
  table {
    text-align: var(--centerAlign);
  }

  .data,
  .transferForm {
    cursor: pointer;
    text-align: var(--centerAlign);
  }
}

@media only screen and (max-width: 1200px) {
  .heading .content {
    margin-top: unset;
    margin-left: 15px;
    text-align: var(--centerAlign);
  }

  .heading .content h1 {
    text-align: var(--centerAlign);
  }

  .img-div {
    margin-bottom: 10px;
  }

  .img-head {
    max-width: 100%;
    margin-top: 70px;
    margin-left: 15%;
  }

  /* ACCOUNT PAGE */
  table {
    background-color: white;
    text-align: var(--centerAlign);
  }

  .data,
  .transferForm {
    cursor: pointer;
    text-align: var(--centerAlign);
  }
}

#contact_us {
  background-color: white;
  opacity: 0.8;
  position: absolute;
  left: 0;
  bottom: 0;
}
